$gray-1: #000;
$gray-2: #212529;
$gray-3: #495057;
$gray-4: #868E96;
$gray-5: #DEE2E6;
$gray-6: #F8F9FA;
$color-primary: #FF2D5F;
$color-secondary: #FF577F;
$color-gradient: linear-gradient(180deg, #FF2D5F 42.19%, #BD163E 48.96%);